.button
    background: #FF6600
    border-radius: 50px
    font-family: 'PT Sans Caption'
    font-style: normal
    font-weight: 700
    font-size: 14px
    line-height: 18px
    text-align: center
    color: #FFFFFF
    border: none
    cursor: pointer
    &__header
        width: 160px
        height: 48px
    &__promo
        width: 288px
        height: 48px
        margin-top: 40px
    &__form
        width: 320px
        height: 48px
    &__social
        width: 52px
        height: 52px
        border-radius: 10px
        display: flex
        justify-content: center
        align-items: center
