.features
    min-height: 294px
    &__listContainer
        display: flex
        justify-content: space-between
        margin-top: 30px
    &__list
        width: 48%
        list-style-type: none
        padding: 0
        margin: 0