.header
    border-bottom: 1px solid rgba(0, 0, 0, 0.15)

.headerTop
    min-height: 84px
    &__wrapper
        display: flex
        align-items: center
        height: 100%
        padding: 19px 0 17px 0
    &__logo
        width: 80px
        height: 52px
        margin-right: 70px
    &__logoImg
        width: 100%
        height: 100%
    &__menuList
        display: flex
        align-items: center
        list-style-type: none
        padding: 0
        margin: 0
    &__menuItem
        margin-right: 24px
    &__menuItem:last-child
        margin-right: 50px
    &__menuLink
        font-size: 15px
        line-height: 19px
        color: $main-text-color
        &:hover
            text-decoration: none
            color: $main-text-color
    &__search
        width: 17px
        height: 17px
        margin-right: 38px
    &__icon
        width: 100%
        height: 100%
        &_before
            margin-right: 11px
        &_menu
            display: inline-block
            width: 10px
            height: 6px
            vertical-align: middle
            margin-left: 10px
    &__phone
        font-size: 15px
        line-height: 19px
        margin-right: 103px
    &__number
        text-decoration: none
        color: #6F6F6F
        &:hover
            text-decoration: none
            color: #6F6F6F
    &__logIn
        width: 60px
        height: 18px
        font-size: 14px
        line-height: 18px
        margin-right: 20px
    &__link
        display: flex  
        width: 100%
        height: 100%
        color: #6F6F6F
        &:hover
            text-decoration: none
            color: #6F6F6F
