.other
    margin-top: 122px
    &__wrapper
        display: flex
        justify-content: space-between
        margin-top: 80px
    &__item
        width: 343px
    &__productName
        display: flex
        margin-bottom: 23px
    &__icon
        margin-right: 44px
    &__descr
        margin-bottom: 15px
        height: 120px