.slider
    &__wrapper
        display: flex
        justify-content: center
        align-items: center
        margin-top: 40px
    &__arrowToggle
        display: flex
        justify-content: center
        align-items: center
        width: 100px
        height: 80px
        background-color: #E2E2E2
        cursor: pointer
        &_left
            border-top-left-radius: 50%
            border-bottom-left-radius: 50%
        &_right
            border-top-right-radius: 50%
            border-bottom-right-radius: 50%
            margin-left: 6px
        &_active
            background-color: $main-color
    &__arrowIcon
        width: 40px
        height: 40px
        pointer-events: none
    &__imgContainer
        position: relative
        width: 800px
        height: 100%
    &__content
        width: 775px
        display: none
        z-index: 2
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1)
        border: 1px solid rgba(0, 0, 0, 0.1)
        &_show
            display: block
        &_backOne
            display: block
            position: absolute
            right: 12px
            top: 10px
            opacity: 0.8
            z-index: -1
        &_backTwo
            display: block
            position: absolute
            right: -3px
            top: 19px
            opacity: 0.6
            z-index: -2
    &__img
        width: 100%
    &__toggle
        display: flex
        justify-content: center
        margin-top: 60px
    &__toggleItem
        width: 10px
        height: 10px
        border-radius: 50%
        background-color: #999999
        margin-right: 24px
        cursor: pointer
        &_active
            background-color: $main-color

@media (max-width: 1400px)
    .slider
        &__arrowToggle
            &_right
                margin-left: 21px
        &__content
            &_backOne
                right: -11px
            &_backTwo
                right: -22px


@media (max-width: 1199px)
    .slider
        &__imgContainer
            width: 675px
        &__arrowToggle
            width: 80px
            &_right
                margin-left: 6px
        &__content
            width: 650px
            &_backOne
                right: 10px
            &_backTwo
                right: -5px

@media (max-width: 991px)
    .slider
        &_hide
            display: none
